<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="header">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Проекти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Ментори</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вхід</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Реєстрація</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>