<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
<form th:action="@{/registration}" method="post">
    <label for="firstName">Ім'я</label>:
    <input type="text" id="firstName" name="firstName"/> <br/>
    <label for="lastName">Прізвище</label>:
    <input type="text" id="lastName" name="lastName"/> <br/>
    <label for="email">Пошта</label>:
    <input type="email" id="email" name="email"/> <br/>
    <label for="password">Пароль</label>:
    <input type="password" id="password" name="password"/> <br/>
    <input type="submit" value="Зареєструватись"/>
</form>
</body>
</html>